TASK1-EXPLORING DATASET

In [1]:
import numpy as numpy
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Ananta\Downloads\News.csv")
df

,Title,PATIENT NAME,Date,MEDICINES,DISEASE,ID,Updated Date,Created Date,Owner,News (Title),PHARMACY DATA
0,PATIENT 3,Sean Michaels,2023-03-22T22:00:00Z,PANTAPRAZOLE-D 500MG,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""8ujtn"",""no...",00000000-0000-0000-0000-000000000001,2023-10-15T13:22:54Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-3,/news/
1,PATIENT 2,Daniel Williams,2023-03-21T22:00:00Z,SINAREST LP,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""4p226"",""no...",00000000-0000-0000-0000-000000000002,2023-10-15T13:22:50Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-2,/news/
2,PATIENT 6,Kim Jennings,2023-03-20T22:00:00Z,BANOCIDE,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""eci8i"",""no...",00000000-0000-0000-0000-000000000003,2023-10-15T13:23:08Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-6,/news/
3,PATIENT 4,Sarah Jones,2023-03-19T22:00:00Z,"PAN-D,SINAREST LP","{""nodes"":[{""type"":""PARAGRAPH"",""id"":""feit4"",""no...",00000000-0000-0000-0000-000000000004,2023-10-15T13:23:00Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-4,/news/
4,PATIENT 5,Derek Wells,2023-03-18T22:00:00Z,EVION TABLETS,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""3u4ue"",""no...",00000000-0000-0000-0000-000000000005,2023-10-15T13:23:04Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-5,/news/
5,PATIENT 1,Jess Wilder,2023-03-17T22:00:00Z,PARACETAMOL,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""ahict"",""no...",00000000-0000-0000-0000-000000000006,2023-10-15T13:22:40Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-1,/news/

In [3]:
df.head()

,Title,PATIENT NAME,Date,MEDICINES,DISEASE,ID,Updated Date,Created Date,Owner,News (Title),PHARMACY DATA
0,PATIENT 3,Sean Michaels,2023-03-22T22:00:00Z,PANTAPRAZOLE-D 500MG,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""8ujtn"",""no...",00000000-0000-0000-0000-000000000001,2023-10-15T13:22:54Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-3,/news/
1,PATIENT 2,Daniel Williams,2023-03-21T22:00:00Z,SINAREST LP,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""4p226"",""no...",00000000-0000-0000-0000-000000000002,2023-10-15T13:22:50Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-2,/news/
2,PATIENT 6,Kim Jennings,2023-03-20T22:00:00Z,BANOCIDE,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""eci8i"",""no...",00000000-0000-0000-0000-000000000003,2023-10-15T13:23:08Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-6,/news/
3,PATIENT 4,Sarah Jones,2023-03-19T22:00:00Z,"PAN-D,SINAREST LP","{""nodes"":[{""type"":""PARAGRAPH"",""id"":""feit4"",""no...",00000000-0000-0000-0000-000000000004,2023-10-15T13:23:00Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-4,/news/
4,PATIENT 5,Derek Wells,2023-03-18T22:00:00Z,EVION TABLETS,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""3u4ue"",""no...",00000000-0000-0000-0000-000000000005,2023-10-15T13:23:04Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-5,/news/

In [4]:
df.tail()

,Title,PATIENT NAME,Date,MEDICINES,DISEASE,ID,Updated Date,Created Date,Owner,News (Title),PHARMACY DATA
1,PATIENT 2,Daniel Williams,2023-03-21T22:00:00Z,SINAREST LP,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""4p226"",""no...",00000000-0000-0000-0000-000000000002,2023-10-15T13:22:50Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-2,/news/
2,PATIENT 6,Kim Jennings,2023-03-20T22:00:00Z,BANOCIDE,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""eci8i"",""no...",00000000-0000-0000-0000-000000000003,2023-10-15T13:23:08Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-6,/news/
3,PATIENT 4,Sarah Jones,2023-03-19T22:00:00Z,"PAN-D,SINAREST LP","{""nodes"":[{""type"":""PARAGRAPH"",""id"":""feit4"",""no...",00000000-0000-0000-0000-000000000004,2023-10-15T13:23:00Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-4,/news/
4,PATIENT 5,Derek Wells,2023-03-18T22:00:00Z,EVION TABLETS,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""3u4ue"",""no...",00000000-0000-0000-0000-000000000005,2023-10-15T13:23:04Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-5,/news/
5,PATIENT 1,Jess Wilder,2023-03-17T22:00:00Z,PARACETAMOL,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""ahict"",""no...",00000000-0000-0000-0000-000000000006,2023-10-15T13:22:40Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-1,/news/

In [5]:
df.describe()

,Title,PATIENT NAME,Date,MEDICINES,DISEASE,ID,Updated Date,Created Date,Owner,News (Title),PHARMACY DATA
count,6,6,6,6,6,6,6,6,6,6,6
unique,6,6,6,6,6,6,6,1,1,6,1
top,PATIENT 3,Sean Michaels,2023-03-22T22:00:00Z,PANTAPRAZOLE-D 500MG,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""8ujtn"",""no...",00000000-0000-0000-0000-000000000001,2023-10-15T13:22:54Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-3,/news/
freq,1,1,1,1,1,1,1,6,6,1,6

In [6]:
df.describe

<bound method NDFrame.describe of        Title     PATIENT NAME                  Date             MEDICINES  \
0  PATIENT 3    Sean Michaels  2023-03-22T22:00:00Z  PANTAPRAZOLE-D 500MG
1  PATIENT 2  Daniel Williams  2023-03-21T22:00:00Z           SINAREST LP
2  PATIENT 6     Kim Jennings  2023-03-20T22:00:00Z              BANOCIDE
3  PATIENT 4     Sarah Jones   2023-03-19T22:00:00Z     PAN-D,SINAREST LP
4  PATIENT 5     Derek Wells   2023-03-18T22:00:00Z         EVION TABLETS
5  PATIENT 1     Jess Wilder   2023-03-17T22:00:00Z           PARACETAMOL

                                             DISEASE  \
0  {"nodes":[{"type":"PARAGRAPH","id":"8ujtn","no...
1  {"nodes":[{"type":"PARAGRAPH","id":"4p226","no...
2  {"nodes":[{"type":"PARAGRAPH","id":"eci8i","no...
3  {"nodes":[{"type":"PARAGRAPH","id":"feit4","no...
4  {"nodes":[{"type":"PARAGRAPH","id":"3u4ue","no...
5  {"nodes":[{"type":"PARAGRAPH","id":"ahict","no...

                                     ID          Updated Date  \
0  00000000-0000-0000-0000-000000000001  2023-10-15T13:22:54Z
1  00000000-0000-0000-0000-000000000002  2023-10-15T13:22:50Z
2  00000000-0000-0000-0000-000000000003  2023-10-15T13:23:08Z
3  00000000-0000-0000-0000-000000000004  2023-10-15T13:23:00Z
4  00000000-0000-0000-0000-000000000005  2023-10-15T13:23:04Z
5  00000000-0000-0000-0000-000000000006  2023-10-15T13:22:40Z

           Created Date                                 Owner  \
0  2023-10-15T13:08:46Z  79e16752-6040-48e2-b917-4609027de3dc
1  2023-10-15T13:08:46Z  79e16752-6040-48e2-b917-4609027de3dc
2  2023-10-15T13:08:46Z  79e16752-6040-48e2-b917-4609027de3dc
3  2023-10-15T13:08:46Z  79e16752-6040-48e2-b917-4609027de3dc
4  2023-10-15T13:08:46Z  79e16752-6040-48e2-b917-4609027de3dc
5  2023-10-15T13:08:46Z  79e16752-6040-48e2-b917-4609027de3dc

      News (Title) PHARMACY DATA
0  /news/patient-3        /news/
1  /news/patient-2        /news/
2  /news/patient-6        /news/
3  /news/patient-4        /news/
4  /news/patient-5        /news/
5  /news/patient-1        /news/  >

In [8]:
df.shape

(6, 11)

In [9]:
df.isnull()

,Title,PATIENT NAME,Date,MEDICINES,DISEASE,ID,Updated Date,Created Date,Owner,News (Title),PHARMACY DATA
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Title            0
PATIENT NAME     0
Date             0
MEDICINES        0
DISEASE          0
ID               0
Updated Date     0
Created Date     0
Owner            0
News (Title)     0
PHARMACY DATA    0
dtype: int64

In [11]:
df.dropna()

,Title,PATIENT NAME,Date,MEDICINES,DISEASE,ID,Updated Date,Created Date,Owner,News (Title),PHARMACY DATA
0,PATIENT 3,Sean Michaels,2023-03-22T22:00:00Z,PANTAPRAZOLE-D 500MG,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""8ujtn"",""no...",00000000-0000-0000-0000-000000000001,2023-10-15T13:22:54Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-3,/news/
1,PATIENT 2,Daniel Williams,2023-03-21T22:00:00Z,SINAREST LP,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""4p226"",""no...",00000000-0000-0000-0000-000000000002,2023-10-15T13:22:50Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-2,/news/
2,PATIENT 6,Kim Jennings,2023-03-20T22:00:00Z,BANOCIDE,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""eci8i"",""no...",00000000-0000-0000-0000-000000000003,2023-10-15T13:23:08Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-6,/news/
3,PATIENT 4,Sarah Jones,2023-03-19T22:00:00Z,"PAN-D,SINAREST LP","{""nodes"":[{""type"":""PARAGRAPH"",""id"":""feit4"",""no...",00000000-0000-0000-0000-000000000004,2023-10-15T13:23:00Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-4,/news/
4,PATIENT 5,Derek Wells,2023-03-18T22:00:00Z,EVION TABLETS,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""3u4ue"",""no...",00000000-0000-0000-0000-000000000005,2023-10-15T13:23:04Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-5,/news/
5,PATIENT 1,Jess Wilder,2023-03-17T22:00:00Z,PARACETAMOL,"{""nodes"":[{""type"":""PARAGRAPH"",""id"":""ahict"",""no...",00000000-0000-0000-0000-000000000006,2023-10-15T13:22:40Z,2023-10-15T13:08:46Z,79e16752-6040-48e2-b917-4609027de3dc,/news/patient-1,/news/